page-stores {

    .card-background-page{
        margin-top: 10px;
    }
    .img-store{
        float: right;
        width: 20%;
    }
    .item{
        background-color: #ffffff;
    }

    .card{
        background-color: #ffffff;
        height: 10%;
    }

    .card-header{
        color: #753855;
        text-align: center;
        font: bold;
    }
    .list{
        padding: 0px;
        margin: 0px;
    }

}